/*
* Riley Cochran
* 01/01/19
* My first Web Page
*/

/* The universal selector */

* {

}
/*  Body Attributes here */

body {background-color:pink;
}
table, td, th{ border: 1px solid antiquewhite
    ;}
table { border border-collapse: collapse;}

thead{ background-color:antiquewhite;}
tfoot{ background-color:antiquewhite;}